{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
{% if blog_posts %}
<h1>CRUD Blog</h1>
{% endif %}

{% if blog_post %}
    <form action="/edit/{{ blog_post.id }}" method="POST">
        {% csrf_token %}
        <div class="blog">
            <input type=text name="title" value="{{ blog_post.title }}"></input>
            <textarea name="content">{{ blog_post.content }}</textarea>
            <div class="btn-wrapper">
              <input type="submit" value="Edit" class="btn"></input>
              <div class="btn">
                <a href="/delete/{{ blog_post.id }}">
                  <div class="delete-btn">Delete</div>
                </a>
              </div>
            </div>
        </div>
    </form>
{% endif %}

{% if form %}
<div class="add-post">
    <form action="/add" method="POST">
        {% csrf_token %}
        {{ form }}
        <input type="submit"></submit>
    </form>
</div>
{% endif %}

{% if blog_posts %}
<div>
    <ul>
    {% for post in blog_posts %}
        <li>
          <a href="/details/{{ post.id }}">
            <div class="blogpost">
                <h3>{{ post.title }}</h3>
                <p>{{ post.content }}</p>
            </div>
          </a>
        </li>
    {% endfor %}
    </ul>
</div>
{% endif %}


